include README.rst
include MANIFEST.in
include MANIFEST
include requirements.txt
include test-requirements.txt
include setup.py
recursive-include logdog *.py
recursive-include docs *
recursive-include examples *
prune *.pyc
prune *.sw*